html,
body,
   
#viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
#editorDiv{
  height: 400px;
  width: 200px;
}
 #legendColorDiv{
        width: 25%;
      }
      #legendSizeDiv{
        width: 25%;